/* Variables */

:root {
    --letter-blue: #81B3D3;
    --main-brown: #766458;
    --icon-blue: #81B3D2;
    --basic-gray-under: #EEEEEE;
    --basic-big-brown: #766357;
    --basic-text-black: #000000;

}


/* Global */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-text-black);
    text-transform: uppercase;
}


.row-reverse {
    flex-direction: row-reverse !important;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main navigation */

.site-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-text-black);
}

.navigation-menu {
    height: 56px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 72px;
}

.nav-link {
    align-self: center;
}

/* User navigation */


.navigation-menu a {
    color: var(--basic-text-black);
}

.navigation-menu a:hover,
.navigation-menu a:focus {
    color: var(--icon-blue);
}

.navigation-menu a:active {
    color: rgba(0, 0, 0, 1);
}

.navigation-menu a:visited {
    color: var(--basic-big-brown);
}

/*main banner*/

.main-banner {
    height: 509px;
    background-image: url("../img/main_background_photo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

.letter-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-shape {
    display: none;
}
.welcome-letters {
    padding-top: 77px;
    padding-bottom: 11px;
}

.gorgeous-letters {
    padding-bottom: 53px;
}


/* About us */

.slogan {

}

.slogan-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    padding-top: 42px;
    padding-bottom: 17px;
}

.slogan-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 51px;
}

/* Contacts */

.footer-phone {
    color: inherit;
}

.main-footer {
    background: rgba(255, 255, 255, 0.9);
}


/*Facts*/


.content {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

.fact {
    display: flex;
    flex-direction: row;
    min-height: 256px;
}

.fact__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 209px;
    background-color: var(--letter-blue);
    padding-top: 47px;
}
.fact__description__title,
.fact__description__number,
.fact__description__text {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;

}
.fact__description__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 25px;
    width: 40%;

}
.fact__description__number {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}
.fact__description__text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 80%;

}
.fact__img {
    display: flex;
    flex: 2;
    height: 256px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fact__img--country {
    background-image: url("../img/fact-country.jpg");
}

.fact__img--bridge {
    background-image: url("../img/fact-bridge.jpg");
}


/* Benefits */

.benefits {
    display: flex;
    flex-direction: row;
}

.benefit {
    display: flex;
    flex-direction: column;
    height: 270px;
    align-items: center;
    padding: 60px 0 0;
}

.benefit-house-icon {
    width: 75px;
    height: 72px;
    margin-bottom: 28px;
}

.benefit-food-icon {
    width: 75px;
    height: 70px;
    margin-bottom: 29px;
}

.benefit-souvenir-icon {
    width: 64px;
    height: 77px;
    margin-bottom: 23px;
}

.benefit-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 25px;
;
}

.benefit-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 74%;
}

.benefits-second {
    display: flex;
    height: 256px;
    background: #EEEEEE;
}
.benefit-second {
    display: flex;
    flex-direction: column;
    height: 270px;
    align-items: center;
    padding: 0 0;
}


.benefits-second .benefit-title {
    padding-top: 47px;
}

.benefits-second .benefit-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

/*Modal windows*/

.modal-form {
    display: none;
}



.interested {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interested-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 4px;
}

.interested-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 24px;
}

.btn a {
    width: 568px;
    height: 86px;
    background: #766357;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}
.btn a:hover {
    background: #604E43
}

.btn a:focus {
    background: #503E33;
}

.button-text:focus {
    mix-blend-mode: normal;
    opacity: 0.3;
}