/* Variables */
/* Global */
body {
  margin: 0;
  padding: 0;
  font: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
body img {
  max-width: 100%;
  height: auto;
}
body .row-reverse {
  flex-direction: row-reverse !important;
}
body .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body a {
  text-decoration: none;
}

/* Main navigation */
.site-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.navigation-menu {
  height: 56px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 72px;
}

.nav-link {
  align-self: center;
}

@media (min-width: 576px) {
  .navbar-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 56px;
  }
}
/* User navigation */
.navbar a {
  color: #000000;
}

.navbar a:hover,
.navbar a:focus {
  color: #81B3D2;
}

.navbar a:active {
  color: rgb(0, 0, 0);
}

.navbar a:visited {
  color: var(--basic-big-brown);
}

/*main banner*/
.main-banner {
  height: 509px;
  background-image: url("../img/main_background_photo.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.letter-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-shape {
  display: none;
}

.welcome-letters {
  padding-top: 77px;
  padding-bottom: 11px;
}

.gorgeous-letters {
  padding-bottom: 53px;
}

/* About us */
.slogan-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding-top: 42px;
  padding-bottom: 17px;
}

.slogan-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 51px;
}

/* Contacts */
.footer-phone {
  color: inherit;
}

.main-footer {
  background: rgba(255, 255, 255, 0.9);
}

/*Facts*/
.content {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 50px;
}

.fact {
  min-height: 256px;
}

.fact__description {
  flex-direction: column;
  align-items: center;
  min-height: 256px;
  background-color: var(--letter-blue);
  padding-top: 47px;
}

.fact__description__title,
.fact__description__number,
.fact__description__text {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
}

.fact__description__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 25px;
  width: 40%;
}

.fact__description__number {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.fact__description__text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 80%;
}

.fact__img {
  display: flex;
  flex: 2;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fact__img--country {
  background-image: url("../img/fact-country.jpg");
}

.fact__img--bridge {
  background-image: url("../img/fact-bridge.jpg");
}

/* Benefits */
.benefits {
  display: flex;
  flex-direction: row;
}
.benefits .benefit {
  display: flex;
  flex-direction: column;
  height: 330px;
  align-items: center;
  padding: 60px 0 0;
}
.benefits .benefit-house-icon {
  width: 75px;
  height: 72px;
  margin-bottom: 28px;
}
.benefits .benefit-food-icon {
  width: 75px;
  height: 70px;
  margin-bottom: 29px;
}
.benefits .benefit-souvenir-icon {
  width: 64px;
  height: 77px;
  margin-bottom: 23px;
}
.benefits .benefit-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 25px;
}
.benefits .benefit-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 74%;
}

.benefits-second {
  display: flex;
  height: 256px;
  background: #EEEEEE;
}
.benefits-second .benefit-second {
  display: flex;
  flex-direction: column;
  min-height: 270px;
  align-items: center;
  padding: 0 10px;
}
.benefits-second .benefit-second-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 25px;
  padding-top: 47px;
}
.benefits-second .benefit-second-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.benefits-second .benefit-second-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 74%;
}

/*Modal windows*/
.modal-header {
  background-color: #766357;
}

.interested {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 4px;
}

.interested-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-bottom: 24px;
}

.modal-button {
  width: 568px;
  height: 86px;
  background: #766357;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  border: none;
}
.modal-button:hover {
  background: #604E43;
}

.modal-button:focus {
  mix-blend-mode: normal;
  background: #503E33;
  color: rgba(255, 255, 255, 0.3);
}

/* Footer */
.page-footer {
  background: rgba(255, 255, 255, 0.9);
}

.footer-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-holder .call-us {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.footer-holder .social-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-holder .made-by {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
}
.footer-holder .facebook {
  padding: 13px 17px;
}
.footer-holder .twitter {
  padding: 14px 16px;
}
.footer-holder .youtube {
  padding: 13px 16px;
}
.footer-holder .social-button {
  background-color: #81B3D2;
  margin: 6px;
  width: 20px;
  height: 23px;
}
.footer-holder .social-button a:hover {
  background: #669EC0;
}

/*# sourceMappingURL=style.css.map */
