@import "rfs.scss";

/* Variables */

$main-font: "PT Sans", Arial, sans-serif;
$second-text-color: #333333;
$letter-blue: #81B3D3;
$main-brown: #766458;
$icon-blue: #81B3D2;
$basic-gray-under: #EEEEEE;
$basic-big-brown: #766357;
$main-text-color: #000000;
$active-nav-item: rgba(0, 0, 0, 1);
$visited-nav-item: #766357;
$blue-button-hover: #669EC0;
$blue-button-active: #5496BD;
$form-field-active: #FFFFFF;
$form-field-hover: #EBEBEB;
$form-field-calm: #F2F2F2;

@mixin block-title {
  font-weight: 700;
  line-height: 21px;
  color: $main-text-color;
  @include font-size(1.3rem);
  @include margin-bottom(1.55rem);
}

@mixin block-description {
  font-weight: 400;
  line-height: 21px;
  color: $second-text-color;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 74%;
  @include font-size(0.85rem);
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font: $main-font;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  font-weight: 700;
  color: $main-text-color;
  text-transform: uppercase;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
}


.row-reverse {
  flex-direction: row-reverse !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* User navigation */

.navbar {
  a {
    color: $main-text-color;
    min-width: 100px;

    &:hover {
      color: $icon-blue;
    }

    &:hover,
    &:focus {
      color: $icon-blue;
    }

    &:active {
      color: $active-nav-item;
    }

    &:visited {
      color: $main-brown;
    }
  }
}

.nav-link {
  align-self: center;
}

@media (min-width: 576px) {
  .navbar-nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 56px;
  }
}

@media (max-width: 575px) {
  .navbar-brand {
    padding: 0;
  }
}

/*main banner*/

.main-banner {
  height: 509px;
  background-image: url("../img/main_background_photo.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  .letter-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    .banner-shape {
      display: none;
    }

    .welcome-letters {
      padding-top: 77px;
      padding-bottom: 11px;
    }

    .gorgeous-letters {
      padding-bottom: 53px;
    }

  }
}


/* Slogan */

.slogan {
  .slogan-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    padding-top: 42px;
    padding-bottom: 17px;
  }

  .slogan-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 51px;
  }

}


/*Facts*/


.content {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 50px;

  .fact {
    min-height: 256px;
  }
}

.fact__description {
  flex-direction: column;
  align-items: center;
  min-height: 256px;
  background-color: $icon-blue;
  padding-top: 47px;

  .fact__description__title,
  .fact__description__number,
  .fact__description__text {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
  }

  .fact__description__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 25px;
    width: 40%;

  }
}

.fact__description__number {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

}

.fact__description__text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 80%;

}

.fact__img {
  display: flex;
  flex: 2;
  height: 256px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fact__img--country {
  background-image: url("../img/fact-country.jpg");
}

.fact__img--bridge {
  background-image: url("../img/fact-bridge.jpg");
}


/* Benefits */

.benefits {
  display: flex;
  flex-direction: row;

  .benefit {
    display: flex;
    flex-direction: column;
    height: 330px;
    align-items: center;
    padding: 60px 0 0;

    &-house-icon {
      width: 75px;
      height: 72px;
      margin-bottom: 28px;
    }

    &-food-icon {
      width: 75px;
      height: 70px;
      margin-bottom: 29px;
    }

    &-souvenir-icon {
      width: 64px;
      height: 77px;
      margin-bottom: 23px;
    }

    &-title {
      @include block-title;
    }

    &-description {
      @include block-description;
    }

  }
}


.benefits-second {
  display: flex;
  height: 256px;


  .benefit-second {
    display: flex;
    flex-direction: column;
    min-height: 256px;
    align-items: center;
    padding: 0 10px;
    background: #EEEEEE;

    &-title {
      @include block-title;
      padding-top: 47px;
      max-width: 150px;

    }

    &-number {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 23px;
    }

    &-description {
      @include block-description;
    }
  }

}


/*Modal windows*/


.modal-header {
  background-color: $basic-big-brown;
}

.interested {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 4px;
}

.interested-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-bottom: 24px;
}

.modal-button {
  width: 568px;
  height: 86px;
  background: #766357;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;

  &:hover {
    background: #604E43;
  }

  &:focus {
    mix-blend-mode: normal;
    background: #503E33;
    color: rgba(255, 255, 255, 0.3);
  }
}

/* Footer */


.page-footer {
  background: rgba(255, 255, 255, 0.9);
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .call-us {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    align-items: center;


    a {
      color: $main-text-color;
    }

    p{
margin-bottom: 10px;
    }
  }

  .made-by {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    align-items: center;

    p {
    }

    a {
      margin-left: 15px;
    }
  }

  .social-items {
    display: flex;
    flex-direction: row;

    .social-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 18px 3px;
      background-color: #81B3D2;
      width: 46px;
      height: 48px;

      .social-button {
        display: flex;
        justify-content: center;

        a:hover {
          background: #669EC0;
        }

        a:focus {
        }

        .facebook {
          height: 0.5em;
          padding: auto;
        }

        .twitter {
          padding: 14px 16px;
        }

        .youtube {
          padding: 13px 16px;
        }
      }
    }
  }
}

